* {
    box-sizing: border-box;
}

body {
    padding: 12px;
}

button {
    cursor: pointer;
    padding: 12px;
    background-color: lightgreen;
}

.container {
    border: 4px double dodgerblue;
    margin: 12px auto;
    padding: 22px;
    max-width: 988px;
}

input {
    cursor: pointer;
}

li {
    padding: 4px;
}
summary {
    cursor: pointer;
}

.tool {
    border: 1px dashed darkgoldenrod;
    margin: 12px auto;
    padding: 12px;
}
