* {
    box-sizing: border-box;
}

body {
    padding: 12px;
}

button {
    padding: 12px;
    background-color: #DFBAC1;
}

.container {
    border: 1px solid #86B4C1;
    margin: 12px auto;
    padding: 22px;
    max-width: 888px;
}

li {
    padding: 4px;
}

summary {
    cursor: pointer;
}

.tool {
    border: 1px dashed #86B4C1;
    margin: 12px auto;
    padding: 14px;
}
